* {
    box-sizing: border-box;
}

.container {
    margin-left: 100px;
}
.image-uploader {
    position: relative;
}
.image-uploader:not(.filled) {
    opacity: 0.7;
    cursor: pointer;
    background: #fff;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1) inset;
}
.image-uploader:not(.filled):hover {
    opacity: 1;
}
.image-uploader:not(.filled):hover .image {
    border: 3px dashed #bbb!important;
}
.image-uploader.filled {
    cursor: move;
}
.image-uploader .image {
    overflow: hidden;
    border: 1px solid #aaa;
}
.image-uploader .image {
    width: 150px;
    height: 150px;
}
.image label{
display: inline-block; text-align: center;

}
.image-uploader.filled label {
    display: none;
}
.image-uploader label {
    color: #888;
    font-size: 0.9em;
    margin: 1em;
    position: absolute;
    top: 0;
    left: 0;
}
.image-uploader img {
    border: none;
}
.image-uploader #uploader {
    display: none;
}